
body {
	background-color: #abcbd4;
	height: 100%;
	padding-top: 50px;
}

#wrapper {
	padding-top: 12px;
	width: 800px;
	height: 400px;
	margin:auto;
}

#top {
	width: 1000px;
	margin: auto;
}

#heading {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	letter-spacing: 2px;
	padding-left: 50px;
	font-size: 30px;
	margin: 0;
}

#sortBy {
	padding-left: 50px;
	padding-top: 15px;
	padding-bottom: 10px;
	letter-spacing: 1px;
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
}


#tableSquare {
	width: 700px;
/* 	height: 500px;
 */	background-color: white;
	margin:auto;
	border-radius: 5px;
    text-align: center;
}

#tableText {
	padding-top: 20px;
	letter-spacing: 1px;
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
}

#table {
	width:600px; 
    margin-right:15%;
    margin-left: 7%;
    table-layout: fixed;  
    border: 1;
}

#notAnswered {
	color: #DDDEDE;
	font-size: 10px;
}

#button {
	flex: 1;
	border-width: 0px;
    background-color: #c56453;
    color: white;
    font-size: 9px;
    letter-spacing: 1px;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 100px;
    cursor:pointer;
    text-align: center;
}

#button:hover {
	background-color: #A8583F;
}

#button2 {
	border-width: 0px;
    background-color: #abcbd4;
    color: #444444;
    font-size: 10px;
    letter-spacing: 1px;
    width: 40px;
    height: 20px;
    margin-bottom: 20px;
    border-radius: 100px;
    cursor:pointer;
    text-align: center;
}

#button2Wrapper {
	padding-left: 10px;
}

#button3 {
	border-width: 0px;
    background-color: #E89688;
    color: white;
    font-size: 9px;
    letter-spacing: 1px;
    width: 55px;
    height: 25px;
    border-radius: 100px;
    cursor:pointer;
    text-align: center;
}

#button3:hover {
	background-color: #c56453;
}

#button2:hover {
	background-color: #7E99A9;
}

#buttonWrapper {
	flex: 1;
	display: inline-flex;
}

#firstButton {
	padding-right: 20px;
}

#Q1{
	width: 20%;
}

#Q {
	width: 20%;
	font-size: 13px;
	overflow: hidden;
}

#D1 {
	width: 13%;
}

#D {
	width: 13%;
	overflow: hidden;
	font-size: 11px; 
}

