
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    background-color: #c4ac9c;
    display: table-cell;
    vertical-align: middle;
}

#alert {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	font-size: 15px;
	padding-bottom: 10px;
}

#alertSquare {
	width: 600px;
	border-radius: 5px;
	text-align: center;
	margin:auto;
}

#alertText {
	letter-spacing: 1px;
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
}

#buttonWrapper {
	display: inline-flex;
} 

#button {
	flex: 1;
	border-width: 0px;
    background-color: #555555;
    color: white;
    font-size: 9px;
    letter-spacing: 1px;
    width: 90px;
    height: 30px;
    border-radius: 100px;
    cursor:pointer;
    text-align: center;
}

#firstButton {
	padding-right: 19px;
}

#button:hover {
	background-color: #444444;
}

#gif {
	padding-bottom: 15px;
	width: 99px;
}