/* Heading */

#headings {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 14px;
    background-color: #13262F;
}

#name {
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3.5px;
    margin: auto;
}

#gif {
	width: 50px;
	padding-bottom: 5px;
	padding-top: 2px;
}

#navigationBar {
    padding-bottom: 2px;
}

#navHyperLink {
    color: #B4B4B4;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-size: 10px;
}

/* Body */

#links {
    padding-bottom: 100px;
    display: inline-flex;
    width: 100%;
}

h1 {
	text-shadow: 2px 3px #a7bcd0;
	font-size: 60px;
	margin-bottom: 3px;
	color: #336284;
	padding-right: 55px;
	letter-spacing: 3px;
}

#welcome {
	font-size: 20px;
	color: #B0C3CD;
	
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
	animation-delay: 1s;
 	animation-fill-mode: both;
}

#welcomeText {
    margin: auto;
    flex: 1;
    text-align: center;
    letter-spacing: 2px;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#listOfButtons {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-right: 10px;
}

#button {
    border-width: 0px;
    background-color: #c4ac9c;
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    width: 160px;
    height: 55px;
    margin-bottom: 20px;
    border-radius: 15px;
    cursor:pointer;
    
    animation-name: fadeRight;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#button:hover {
    background-color: #7E6F61;
}

/* Key Frames */

@keyframes fadeInOpacity {
    from {
        transform: translate3d(0,10px,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@keyframes fadeRight {
    from {
        transform: translate3d(-20px,0,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}


/*DYNAMIC SCREENS*/

@media screen and (max-width: 650px){ 
	h1 {
		font-size: 50px;
		padding-right: 29px;
	}
	
	#welcome {
		font-size: 15px;
	}
	
	#button {
	    font-size: 11px;
	    width: 130px;
	    height: 45px;
	}	
}
