body {
	padding-top: 100px;
    display: inline-flex;
    width: 100%;
    vertical-align: middle;
    background-color: #13262F;
}

#loginSquare {
	width: 350px;
	height: 350px;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	margin:auto;
}

#loginText {
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 20px;
	letter-spacing: 1px;
	color: #64A0CB;
}

#login {
	font-size: 30px;
	padding-top: 40px;
	font-weight: 700;
	padding-bottom: 30px;
	letter-spacing: 2px;
	color: #13262F;
}

#form {
	margin: 0 auto;
	width: 65%;
	font-size: 13px;
}

#form2 {
	font-size: 10px;
	font-weight: 600;
	color: #c4ac9c;
}

#input {
	background-color: #f3f3f3;
}

#button {
    border-width: 0px;
    background-color: #64A0CB;
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    width: 70px;
    height: 31px;
    margin-bottom: 20px;
    border-radius: 15px;
    cursor:pointer;
}

#button2 {
    border-width: 0px;
    background-color: #c4ac9c;
    color: white;
    font-size: 9px;
    letter-spacing: 1px;
    width: 60px;
    height: 24px;
    margin-bottom: 20px;
    border-radius: 15px;
    cursor:pointer;
}
