
body {
    width: 100%;
    background-color: #EDE2A9;
}

h1 {
	font-size: 30px;
}

#wrapper {
	vertical-align: middle;
    text-align: center;
    padding-top: 100px;
}

#browseSquare {
	width: 500px;
	height: 320px;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	margin:auto;
}

#browseText {
	padding-top: 20px;
	letter-spacing: 1px;
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
}

#form {
	padding-left: 150px;
}

#c {
	padding-top: 15px;
}

#c1 {
	padding-top: 15px;
	padding-bottom: 37px;
}

#input {
	background-color: #f3f3f3;
	width: 75px;
	height: 20px;
	color: #444444;
	border-radius: 5px;
	border-width: 0px;
	text-align: center;
}

#origin {
	padding-right: 50px;
}

#date {
	padding-right: 17px;
}

#buttonWrapper {
	padding-top: 10px;
}

#button {
	border-width: 0px;
    background-color: #444444;
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
    width: 100px;
    height: 28px;
    margin-bottom: 20px;
    border-radius: 100px;
    cursor:pointer;
    text-align: center;
}

#button2 {
	border-width: 0px;
    background-color: #EDE2A9;
    color: #444444;
    font-size: 10px;
    letter-spacing: 1px;
    width: 40px;
    height: 20px;
    margin-bottom: 20px;
    border-radius: 100px;
    cursor:pointer;
    text-align: center;
}

#button2Wrapper {
	padding-left: 10px;
	padding-top: 5px;
}

#button2:hover {
	background-color: #D4C782;
}

#button3 {
	border-width: 0px;
    background-color: white;
    color: #444444;
    font-size: 10px;
    letter-spacing: 1px;
    width: 140px;
    height: 20px;
    margin-bottom: 20px;
    border-radius: 100px;
    cursor:pointer;
    text-align: center;
}

#button3:hover {
	background-color: #DDDEDE;
}


textarea {
	padding-bottom: 40px;
	cursor:pointer;
	font-size: 14px;
	color: #444444;
}

textarea:focus, input:focus{
    outline: none;
}

