body {
	background-color: #abcbd4;
	height: 100%;
	padding-top: 5px;
}

#wrapper {
	padding-top: 12px;
	width: 800px;
	height: 400px;
	margin:auto;
}

#top {
	display:inline-flex;
	width: 1000px;
	margin: auto;
	padding-bottom: 5px;
}

#heading {
	flex: 1;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	letter-spacing: 2px;
	padding-left: 50px;
	font-size: 30px;
}

#tableSquare {
	width: 700px;
	background-color: white;
	margin:auto;
	border-radius: 5px;
}

#tableText {
	padding-top: 20px;
	letter-spacing: 1px;
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
}

#table {
	width:600px; 
    margin-right:15%;
    margin-left: 8%;
    table-layout: fixed;  
}

#notAnswered {
	color: #DDDEDE;
	font-size: 10px;
}

#button {
	flex: 1;
	border-width: 0px;
    background-color: #c56453;
    color: white;
    font-size: 9px;
    letter-spacing: 1px;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 100px;
    cursor:pointer;
    text-align: center;
}

#button:hover {
	background-color: #A8583F;
}

#button2 {
	border-width: 0px;
    background-color: #abcbd4;
    color: #444444;
    font-size: 10px;
    letter-spacing: 1px;
    width: 40px;
    height: 20px;
    margin-bottom: 20px;
    border-radius: 100px;
    cursor:pointer;
    text-align: center;
}

#button2Wrapper {
	padding-left: 10px;
}

#button2:hover {
	background-color: #7E99A9;
}

#buttonWrapper {
	flex: 1;
	display: inline-flex;
}

#firstButton {
	padding-right: 20px;
}

#Q1{
	width: 40%;
	padding-bottom: 10px;
}

#Q {
	width: 40%;
	font-size: 13px;
	overflow: hidden;
	padding-bottom: 10px;
}

#D1 {
	width: 15%;
	padding-bottom: 10px;
}

#D {
	width: 15%;
	overflow: hidden;
	font-size: 11px; 
	padding-bottom: 10px;
}

#A1{
	width: 35%;
	padding-bottom: 10px;
}

#A {
	width: 35%;
  	overflow: hidden;
	padding-bottom: 10px;
}

#U1 {
	width: 10%;
	padding-bottom: 10px;
}

#U {
	width: 10%;
  	overflow: hidden;
  	font-size: 11px; 
	padding-bottom: 10px;
}
